body {
    margin: 0;
    background-color: #000000;
    overflow: hidden;
    user-select: none;
    color: white;
    font-family: sans-serif;
}

#bgImage {
    position: absolute;
    z-index: -10;
    top: 100vh;
    left: 50vw;
    transform: translate(-50%, -50%) rotate(0);
    object-fit: cover;
}

#planet {
    position: absolute;
    top: 130vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vw;
    object-fit: fill;
}

#pumpImage {
    position: absolute;
    height: 20vh;
    transform-origin: bottom center;
    transform: rotate(-45deg);
    z-index: -5;
}

#drillImage {
    position: absolute;
    height: 20vh;
    transform-origin: bottom center;
    transform: rotate(45deg);
    z-index: -5;
}

#miningTable {
    position: absolute;
    z-index: 10;
    left: 50vw;
    top: 60vh;
    transform: translate(-50%, 0);
    border-spacing: 0;
    border-collapse: collapse;
}

#miningTable td {
    width: 7vh;
    height: 7vh;
    border: 5px solid white;
}

#topContainer {
    position: absolute;
    display: grid;
    left: 0;
    top: 0;
    gap: 0;
    width: 100vw;
    height: 40vh;
    grid-template-columns: 1.3fr 1fr 1.3fr;
    grid-template-rows: 30vh 10vh;
}

#upgradesContainer {
    grid-row: 1 / 3;
    grid-column: 1;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-right-radius: 15px;
}

#comms {
    grid-row: 1 / 2;
    grid-column: 2;
    border-bottom: 2px solid white;
    overflow: scroll;
}

#comms > p {
    margin: 0 1vw 3vh 1vw;
}
#comms > p:first-child {
    margin-top: 1vw;
}

#resourcesContainer {
    grid-row: 1 / 3;
    grid-column: 3;

    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 15px;
}

.resourceTable p {
    margin: 0;
}
.tableImageContainer {
    width: 3vw;
    height: 3vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.tableText {
    padding-left: 0.25vw;
    font-size: 1.1vw;
    color: white;
}
.tableAmount {
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
}

#planetInfoContainer {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 5vw 1fr;
    grid-template-rows: 1fr 5vw 1fr auto 1fr;
    left: 3vh;
    bottom: 3vh;
    width: 8vw;
    height: 8vw;
    border: 2px solid white;
    border-radius: 10px;
}

#planetIcon {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 5vw;
    height: 5vw;
    background-image: url(planet.png);
    background-size: cover;
}

#planetName {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    text-align: center;
}

#shipContainer {
    position: absolute;
    right: 3vh;
    bottom: 3vh;
    width: 8vw;
    height: 8vw;
    border: 2px solid white;
    border-radius: 10px;
    background-image: url(fuel.png);
    background-repeat: repeat-x;
    background-position-y: calc(8vw * 0.916);
    transition: background-position-y 1s;
    animation: fuelAnim 5s linear infinite;
    background-size: 8vw calc(8vw * 1.084);
}
#shipContainer::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
    background-image: url(rocket.svg);
    background-size: cover;
    opacity: 0;
    transition: opacity 1s;
    content: "";
}
#shipContainer.completeFuel::before {
    opacity: 1;
}
#shipContainer.completeFuel {
    cursor: pointer;
}
@keyframes fuelAnim {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 8vw;
    }
}

.tab {
    display: grid;
    grid-auto-columns: 1fr;
    overflow: hidden;
}
.tab button {
    line-height: 8vh;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    grid-row: 1;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    height: 8vh;
}
.tab button:first-child {
    border-left: none;
}
.tab button:hover {
    background-color: #ffffff30;
    color: white;
}
.tab button.active {
    background-color: #ffffffdd;
    color: black;
}
.tabcontent {
    display: none;
    padding: 5px;
    border-top: none;
    color: white;
    max-height: 32vh;
    box-sizing: border-box;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.tabcontent::-webkit-scrollbar {
    display: none;
}

#drillUpgradeTable {
    border-collapse: collapse;
}
#drillUpgradeTable tr:not(:last-child) {
    border-bottom: 1px solid white;
}
#drillUpgradeTable tr:hover {
    background-color: #ffffff30;
}
#drillUpgradeTable td {
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.upgradeTableIcon {
    width: 10%;
}
.upgradeTableName {
    width: 25%;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.upgradeTableDesc {
    width: 45%;
    text-align: left;
    font-size: x-small;
}
.upgradeTableCost,
.upgradeTableOwned {
    width: 10%;
    text-align: center;
    font-size: medium;
}
